<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container  p-5 mt-3">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow p-3 mb-5 bg-body rounded">
                    <div class="card-header text-center fw-bold ">
                        <p class="fs-4">Edit Product</p>
                        <th:block th:if="${session.succMsg}">
                            <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                        </th:block>

                        <th:block th:if="${session.errorMsg}">
                            <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                        </th:block>

                        <!-- Remove messages after showing them -->
                        <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>


                    </div>
                    <div class="card-body">
                        <form action="/admin/updateProduct" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" th:value="${product.id}">
                            <div class="mb-3">
                                <label>Enter Title</label>
                                <input type="text" name="title" class="form-control" th:value="${product.title}">
                            </div>

                            <div class="mb-3">
                                <label>Enter Description</label>
                                <textarea rows="3" cols="" class="form-control" name="description" >[[${product.description}]]</textarea>
                            </div>
                            <div class="row">
                            <div class="mb-3">
                                <label>Select Category</label><select class="form-control" name="category">
                                <option>[[${product.category}]]</option>
                                <option th:each="c:${categories}">[[${c.name}]]</option>
                            </select>
                            </div>
                            <div class="mb-3 col">
                                <label>Enter Price</label>
                                <input type="text" name="price" class="form-control" th:value="${product.price}">
                            </div>
                            </div>

                            <div class="row">
                                <div class="mb-3 col">
                                    <label>Discount</label>
                                    <input type="number" name="discount" class="form-control" th:value="${product.discount}">
                                </div>
                                <div class="mb-3 col">
                                    <label>Discount Price</label>
                                    <input type="number" readonly name="discountPrice" class="form-control" th:value="${product.discountPrice}"
                                    >
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="fw-semibold">Status</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="true"  th:checked="${product.isActive==true}"
                                           name="isActive" id="radioDefault1">
                                    <label class="form-check-label" for="radioDefault1">
                                        Active
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="false" th:checked="${product.isActive==false}"
                                           name="isActive" id="radioDefault2" >
                                    <label class="form-check-label" for="radioDefault2">
                                        Inactive
                                    </label>
                                </div>

                            <div class="mb-3">
                                <label>Enter Stock</label>
                                <input type="text" name="stock" class="form-control" th:value="${product.stock}">

                            </div>
                            <div class="mb-3">
                                <label>Upload Image</label>
                                <input type="file" name="file" class="form-control">
                            </div>
                            <img th:src="@{'/img/products/'+${product.image}}" width="50px" height="70ox">
                            <button class="btn btn-primary col-md-12">Update</button>
                                <br>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>